.article-container {
  font-family: sans-serif;
  margin: 1em;
  background-color: #fbf7e3;
  color: #612406;
  padding: 2em;
  border-radius: 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.article-container h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}

.article-container img {
  margin-right: 1em;
}

.text-article {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
