body {
  margin: 1em;
  font-family: sans-serif;
  color: #612406;
}

/* NAVBAR */

nav {
  background-color: #fef7e2;
  width: 60%;
  min-width: 300px;
  min-height: 160px;
  border-radius: 100px;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  color: #612406;
  text-align: center;
}

nav ul li img {
  width: 50px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav ul li {
  background-color: #f3df85;
  border-radius: 50px;
  margin: 1em;
  padding: 1em;
  font-weight: 600;
}

.item_big {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100%;
  padding: 1em 3em;
  font-size: 1.5em;
}

.item_small {
  display: flex;
  flex: 1;
  font-size: 0.8em;
  justify-content: center;
}

/* MAIN */
.title-container {
  text-align: center;
  margin: 2em 0;
  font-weight: bold;
  font-size: 2em;
}

/* CARD */

.card {
  max-width: 320px;
  text-align: center;
  background-color: #fbf7e3;
  overflow: hidden;
  border-radius: 50px;
  color: #612406;

  margin: 2em 0;
}

.card img {
  width: 100%;
}

.card-text-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5em 0;
  font-size: 1.2em;
}

.card-text-content div h2 {
  font-weight: 700;
}

.card-text-content div p {
  font-weight: 400;
  font-size: 0.9em;
}

.card button {
  margin: 0 0 1em 0;
  background-color: #f3df85;
  border: none;
  padding: 0.5em 4em;
  font-weight: 700;
  color: #612406;
  font-size: 1em;
  border-radius: 100px;
  cursor: pointer;
}

/* ARTICLE */
aside {
  max-width: 320px;
  color: #612406;
  height: 700px;
  background-color: #fbf7e3;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50px;
  margin: 2em 0;
}

aside img {
  width: 100%;
}

.aside-text h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2em;
}
