nav {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
  color: #612406;
  background-color: #fbf7e3;
  border-radius: 125px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  padding: 1em 0.5em;
  background-color: #f3df85;
  border-radius: 125px;
}

nav ul li img {
  width: 150px;
}

nav ul li:nth-of-type(3) {
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: space-between;
}
