nav {
  background-color: #fef7e2;
  width: 60%;
  min-width: 320px;
  min-height: 160px;
  border-radius: 100px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  color: #612406;
  text-align: center;
}

nav ul li img {
  width: 50px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav ul li {
  background-color: #f3df85;
  border-radius: 50px;
  margin: 1em;
  padding: 1em;
  font-weight: 600;
}

.item_big {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 100%;
  padding: 1em 3em;
  font-size: 1.5em;
}

.item_small {
  display: flex;
  flex: 1;
  font-size: 0.8em;
  justify-content: center;
}
