main {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.card {
  max-width: 400px;
  background-color: #fbf7e3;
  overflow: hidden;
  border-radius: 100px;
  text-align: center;
  color: #612406;
}

.card img {
  max-width: 400px;
}

.price {
  font-size: 1.3em;
}

.card button {
  padding: 0.5em 2em;
  margin: 1em 0;
  border: none;
  border-radius: 35px;
  background-color: #f3df85;
  font-size: 1.5em;
}

.card-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3em;
}

.description h2 {
  font-size: 1.6em;
  font-weight: 700;
}

.description p {
  font-size: 1.3em;
}
